<div class="jumbotron" id="hero-content">
    <h1>Rails 写経</h1>
    <p>making of the this app</p>
    <p><%= link_to '写経blog', {controller: 'articles'}, {:class => 'btn btn-default btn-lg'} %></p>
</div>
